@charset "UTF-8";

html, body {
	height: 100%;
}

h2 {
	display: flex;
	justify-content: center;
}

input[type=text], select, input[type=password] {
	width: 100%;
	margin: 8px 0;
	padding: 12px 20px;
	display: block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	padding: 12px 20px;
}

input[type=submit], input[type=reset], input[type=button] {
	width: 10%;
	background-color: #4174c6;
	color: white;
	padding: 14px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover
	{
	background-color: #1a4791;
}

.navbar-default {
	background-color: transparent;
	background-image: none;
	background-repeat: no-repeat;
	color: #1a4791;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus
	{
	background-color: #1a4791;
	color: #fff;
}

table {
	margin-left: 40px;
	font-size: 16p;
}

td, tr {
	margin-left: 40px;
	font-size: 16px;
	border-bottom: 1px solid #ddd;
	padidng: 40px;
}

.container {
	display: flex;
	align-items: center;
}

.incontainer {
	margin-left: 50px;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	width: 30%;
}

#workflowrunning, #workflowcomplete{
	background-image: url('/images/search.png');
	background-position: 10px 12px;
	background-repeat: no-repeat;
	width: 30%; /* Full-width */
	font-size: 16px; /* Increase font-size */
	padding: 12px 20px 12px 40px; /* Add some padding */
	border: 1px solid #ddd;
	margin-bottom: 12px;
}

.liclass {
	padding: 30px;
}

.rightalign {
	cursor: pointer;
	position: absolute;
	top: 50%;
	right: 20%;
	padding: 12px 16px;
	transform: translate(0%, -50%);
}

div.scrollmenu {
	height: 270px;
	overflow-x: hidden;
	overflow-x: auto;
	white-space: nowrap;
}

div.scrollmenu a {
	color: white;
	text-align: center;
	padding: 14px;
	text-decoration: none;
}

div.scrollmenu a:hover {
	background-color: #777;
}

#activeBar{
	 background-color:#4174c6;
	 color : #ffffff;
}
